examples/Data Layer - Read.json
[{"id":"7556aaba.093884","type":"comment","z":"a038e8.15d92718","name":"Example: Read the current CPU utilisation from the Data Layer and print to debug log.","info":"","x":350,"y":80,"wires":[]},{"id":"13ec33b6.ccb24c","type":"debug","z":"a038e8.15d92718","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":140,"wires":[]},{"id":"bdef71b6.edc85","type":"ctrlx-datalayer-request","z":"a038e8.15d92718","device":"ec1807ac.c7c0e8","method":"READ","path":"framework/metrics/system/cpu-utilisation-percent","name":"","x":450,"y":140,"wires":[["13ec33b6.ccb24c"]]},{"id":"eebf3e17.8e4e9","type":"inject","z":"a038e8.15d92718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":140,"wires":[["bdef71b6.edc85"]]},{"id":"ec1807ac.c7c0e8","type":"ctrlx-config","z":"","name":"[fe80::260:34ff:fe08:322]","hostname":"[fe80::260:34ff:fe08:322]","debug":true}]
