examples/Error handling.json
[{"id":"3984d15c.b6a4be","type":"comment","z":"a038e8.15d92718","name":"Example: Use a catch node to handle errors.","info":"","x":210,"y":260,"wires":[]},{"id":"adcdeb72.352b88","type":"debug","z":"a038e8.15d92718","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":320,"wires":[]},{"id":"bf808c7e.2b56a","type":"ctrlx-datalayer-request","z":"a038e8.15d92718","device":"ec1807ac.c7c0e8","method":"READ","path":"invalid/path/value/to/force/error","name":"","x":390,"y":320,"wires":[["adcdeb72.352b88"]]},{"id":"eda269ff.f06d88","type":"inject","z":"a038e8.15d92718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["bf808c7e.2b56a"]]},{"id":"b55ac3d1.719b1","type":"catch","z":"a038e8.15d92718","name":"","scope":["bf808c7e.2b56a"],"uncaught":false,"x":200,"y":400,"wires":[["e91439fb.0fa298"]]},{"id":"e91439fb.0fa298","type":"debug","z":"a038e8.15d92718","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":400,"wires":[]},{"id":"ec1807ac.c7c0e8","type":"ctrlx-config","z":"","name":"[fe80::260:34ff:fe08:322]","hostname":"[fe80::260:34ff:fe08:322]","debug":true}]
