examples/General - Set properties via code.json
[{"id":"7d8c9ee.2e8246","type":"comment","z":"a038e8.15d92718","name":"Example: Use the msg object to set the properties programmatically via function node..","info":"","x":340,"y":480,"wires":[]},{"id":"c558ee94.94a69","type":"debug","z":"a038e8.15d92718","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":540,"wires":[]},{"id":"b21cb94.37f9648","type":"ctrlx-datalayer-request","z":"a038e8.15d92718","device":"ec1807ac.c7c0e8","method":"msg","path":"","name":"","x":530,"y":540,"wires":[["c558ee94.94a69"]]},{"id":"6a8a874a.7d0058","type":"inject","z":"a038e8.15d92718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":540,"wires":[["19b7a2d1.6a030d"]]},{"id":"19b7a2d1.6a030d","type":"function","z":"a038e8.15d92718","name":"set properties","func":"msg.method = 'READ';\nmsg.path = 'framework/metrics/system/cpu-utilisation-percent';\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":540,"wires":[["b21cb94.37f9648"]]},{"id":"ec1807ac.c7c0e8","type":"ctrlx-config","z":"","name":"[fe80::260:34ff:fe08:322]","hostname":"[fe80::260:34ff:fe08:322]","debug":true}]
