examples/General - Monitor CPU utilisation.json
[{"id":"fc358c7bab410d9d","type":"ui_chart","z":"5480b2f5a22f3525","name":"","group":"a4ba432c81cdab8a","order":0,"width":"0","height":"0","label":"CPU utilisation","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#3eb31e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":760,"y":560,"wires":[[]]},{"id":"beb3ea051cd65ac2","type":"ctrlx-datalayer-subscribe","z":"5480b2f5a22f3525","subscription":"632bcc2.eddf134","path":"framework/metrics/system/cpu-utilisation-percent","name":"","x":300,"y":560,"wires":[["f283f038cc73dafc"]]},{"id":"f283f038cc73dafc","type":"function","z":"5480b2f5a22f3525","name":"","func":"let value10 = context.get(\"value10\")\nlet value9 = context.get(\"value9\")\nlet value8 = context.get(\"value8\")\nlet value7 = context.get(\"value7\")\nlet value6 = context.get(\"value6\")\nlet value5 = context.get(\"value5\")\nlet value4 = context.get(\"value4\")\nlet value3 = context.get(\"value3\")\nlet value2 = context.get(\"value2\")\nlet value1 = context.get(\"value1\")\n\ncontext.set(\"value1\", value2)\ncontext.set(\"value2\", value3)\ncontext.set(\"value3\", value4)\ncontext.set(\"value4\", value5)\ncontext.set(\"value5\", value6)\ncontext.set(\"value6\", value7)\ncontext.set(\"value7\", value8)\ncontext.set(\"value8\", value9)\ncontext.set(\"value9\", value10)\ncontext.set(\"value10\", msg.payload)\n\nlet time10 = context.get(\"time10\")\nlet time9 = context.get(\"time9\")\nlet time8 = context.get(\"time8\")\nlet time7 = context.get(\"time7\")\nlet time6 = context.get(\"time6\")\nlet time5 = context.get(\"time5\")\nlet time4 = context.get(\"time4\")\nlet time3 = context.get(\"time3\")\nlet time2 = context.get(\"time2\")\nlet time1 = context.get(\"time1\")\n\ncontext.set(\"time1\", time2)\ncontext.set(\"time2\", time3)\ncontext.set(\"time3\", time4)\ncontext.set(\"time4\", time5)\ncontext.set(\"time5\", time6)\ncontext.set(\"time6\", time7)\ncontext.set(\"time7\", time8)\ncontext.set(\"time8\", time9)\ncontext.set(\"time9\", time10)\ncontext.set(\"time10\", msg.timestamp)\n\nvar chart = [{\n    \"series\": [\"CPU\"],\n    \"data\": [[{ \"x\": time1, \"y\": value1 },\n                { \"x\": time2, \"y\": value2 },\n                { \"x\": time3, \"y\": value3 },\n                { \"x\": time4, \"y\": value4 },\n                { \"x\": time5, \"y\": value5 },\n                { \"x\": time6, \"y\": value6 },\n                { \"x\": time7, \"y\": value7 },\n                { \"x\": time8, \"y\": value8 },\n                { \"x\": time9, \"y\": value9 },\n                { \"x\": msg.timestamp, \"y\": msg.payload}]],\n    \"labels\": [\"mylabeltest\"]\n}];\nmsg.payload = chart;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":560,"wires":[["fc358c7bab410d9d"]]},{"id":"dc3e7b2.6ab9388","type":"comment","z":"5480b2f5a22f3525","name":"Example: Monitor CPU utilisation in line chart","info":"","x":290,"y":500,"wires":[]},{"id":"a4ba432c81cdab8a","type":"ui_group","name":"General","tab":"9cba2148.8c9148","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"632bcc2.eddf134","type":"ctrlx-config-subscription","device":"7b877229.678964","name":"Sub_Default","publishIntervalMs":""},{"id":"9cba2148.8c9148","type":"ui_tab","name":"Examples","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"7b877229.678964","type":"ctrlx-config","name":"localhost","hostname":"localhost","debug":false}]