examples/Motion kinematic - Monitor and enable or disable.json
[{"id":"dbd40709a3863a5e","type":"comment","z":"3a89ede8547cbb8b","name":"Example: Monitor and switch \"Robot\" enable","info":"","x":270,"y":80,"wires":[]},{"id":"f790e337.3bfc98","type":"ui_switch","z":"3a89ede8547cbb8b","name":"","label":"Enable/disable \"Robot\"","tooltip":"","group":"85755e14b124f041","order":1,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"{\"type\":\"bool8\",\"value\":true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"type\":\"bool8\",\"value\":false}","offvalueType":"json","officon":"","offcolor":"","animate":false,"className":"","x":860,"y":120,"wires":[["77300d87e2d6473c"]]},{"id":"bb714120.4807d","type":"inject","z":"3a89ede8547cbb8b","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":120,"wires":[["e7133e025a1f4c5c"]]},{"id":"343c07da133a2dba","type":"ctrlx-datalayer-request","z":"3a89ede8547cbb8b","device":"7b877229.678964","method":"CREATE","path":"motion/kin/Robot/cmd/group-ena","payloadFormat":"value_type","name":"\"Robot\" enable","x":840,"y":180,"wires":[[]]},{"id":"7f52506b8bfcaedb","type":"ctrlx-datalayer-request","z":"3a89ede8547cbb8b","device":"7b877229.678964","method":"CREATE","path":"motion/kin/Robot/cmd/group-dis","payloadFormat":"value_type","name":"\"Robot\" disable","x":840,"y":240,"wires":[[]]},{"id":"77300d87e2d6473c","type":"switch","z":"3a89ede8547cbb8b","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":190,"y":220,"wires":[["e657d3a6d594ef34"],["785978fba9bc8cfe"]]},{"id":"e657d3a6d594ef34","type":"function","z":"3a89ede8547cbb8b","name":"make enable command","func":"var newMsg = {};\nnewMsg.payload = \"\";\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":200,"wires":[["343c07da133a2dba"]]},{"id":"785978fba9bc8cfe","type":"function","z":"3a89ede8547cbb8b","name":"make disable command","func":"var newMsg = {};\nnewMsg.payload = \"\";\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":240,"wires":[["7f52506b8bfcaedb"]]},{"id":"e7133e025a1f4c5c","type":"ctrlx-datalayer-request","z":"3a89ede8547cbb8b","device":"7b877229.678964","method":"READ","path":"motion/kin/Robot/state/opstate/plcopen","payloadFormat":"value_type","name":"Read \"Robot\" enable status","x":420,"y":120,"wires":[["86a4485d88dd3f70"]]},{"id":"86a4485d88dd3f70","type":"function","z":"3a89ede8547cbb8b","name":"make switch status","func":"var newMsg = {};\nif(msg.payload.value == \"DISABLED\") {\n newMsg.payload = {\"type\":\"bool8\",\"value\":true}\n} \nelse {\n newMsg.payload = {\"type\":\"bool8\",\"value\":false} \n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":120,"wires":[["f790e337.3bfc98"]]},{"id":"85755e14b124f041","type":"ui_group","name":"Kinematic Handling","tab":"9cba2148.8c9148","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7b877229.678964","type":"ctrlx-config","name":"localhost","hostname":"localhost","debug":false},{"id":"9cba2148.8c9148","type":"ui_tab","name":"Examples","icon":"dashboard","order":7,"disabled":false,"hidden":false}]