examples/Motion kinematics - Monitor and enable or disable.json
[{"id":"b209226589a79621","type":"comment","z":"b12a2b51700402e0","name":"Example: Monitor and switch \"Robot\" enable","info":"","x":570,"y":480,"wires":[]},{"id":"a4bd2b7f770627be","type":"ui_switch","z":"b12a2b51700402e0","name":"","label":"Enable/disable \"Robot\"","tooltip":"","group":"85755e14b124f041","order":1,"width":"4","height":"1","passthru":false,"decouple":"true","topic":"","topicType":"str","style":"","onvalue":"{\"type\":\"bool8\",\"value\":true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"type\":\"bool8\",\"value\":false}","offvalueType":"json","officon":"","offcolor":"","animate":false,"className":"","x":1100,"y":520,"wires":[["cae8298f2e8feaea"]]},{"id":"9f0584db0ec9dd17","type":"ctrlx-datalayer-request","z":"b12a2b51700402e0","device":"7b877229.678964","method":"CREATE","path":"motion/kin/Robot/cmd/group-ena","payloadFormat":"value_type","name":"\"Robot\" enable","pendingWarnLevel":"","pendingErrorLevel":"","x":1080,"y":600,"wires":[[]]},{"id":"d826f25e19cc2b25","type":"ctrlx-datalayer-request","z":"b12a2b51700402e0","device":"7b877229.678964","method":"CREATE","path":"motion/kin/Robot/cmd/group-dis","payloadFormat":"value_type","name":"\"Robot\" disable","pendingWarnLevel":"","pendingErrorLevel":"","x":1080,"y":660,"wires":[[]]},{"id":"cae8298f2e8feaea","type":"switch","z":"b12a2b51700402e0","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":590,"y":620,"wires":[["9c1c14a3e7aa2864"],["e4f3efe23e81ddc6"]]},{"id":"9c1c14a3e7aa2864","type":"function","z":"b12a2b51700402e0","name":"make enable command","func":"var newMsg = {};\nnewMsg.payload = \"\";\nreturn newMsg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":600,"wires":[["9f0584db0ec9dd17"]]},{"id":"e4f3efe23e81ddc6","type":"function","z":"b12a2b51700402e0","name":"make disable command","func":"var newMsg = {};\nnewMsg.payload = \"\";\nreturn newMsg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":660,"wires":[["d826f25e19cc2b25"]]},{"id":"9938499b3b6e685e","type":"function","z":"b12a2b51700402e0","name":"make switch status","func":"var newMsg = {};\nif (msg.payload == \"DISABLED\") {\n newMsg.payload = {\"type\":\"bool8\",\"value\":false}\n} \nelse {\n newMsg.payload = {\"type\":\"bool8\",\"value\":true} \n}\nreturn newMsg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":520,"wires":[["a4bd2b7f770627be"]]},{"id":"59f1383ada1f4db6","type":"ctrlx-datalayer-subscribe","z":"b12a2b51700402e0","subscription":"632bcc2.eddf134","path":"motion/kin/Robot/state/opstate/plcopen","name":"","inputs":0,"x":550,"y":520,"wires":[["9938499b3b6e685e"]]},{"id":"85755e14b124f041","type":"ui_group","name":"Kinematic Handling","tab":"9cba2148.8c9148","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7b877229.678964","type":"ctrlx-config","name":"localhost","hostname":"localhost","debug":false},{"id":"632bcc2.eddf134","type":"ctrlx-config-subscription","device":"7b877229.678964","name":"Sub_Default","publishIntervalMs":"1","publishIntervalUnits":"seconds","samplingInterval":"100","samplingIntervalUnits":"milliseconds","errorInterval":"60","errorIntervalUnits":"seconds","keepaliveInterval":"60","keepaliveIntervalUnits":"seconds","queueSize":"1","queueBehaviour":"DiscardOldest","deadbandValue":""},{"id":"9cba2148.8c9148","type":"ui_tab","name":"Examples","icon":"dashboard","order":7,"disabled":false,"hidden":false}]