examples/Motion kinematic - Power on axes.json
[{"id":"29314076d3d35455","type":"function","z":"3da246ac7c3d45c2","name":"power on command","func":"var newMsg = {};\nnewMsg.payload = {\n    \"type\": \"bool8\",\n    \"value\": true\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":240,"wires":[["f7a5bf9718c57e40","ee268872d3015014","9798b1e4bec2fd1c"]]},{"id":"f7a5bf9718c57e40","type":"ctrlx-datalayer-request","z":"3da246ac7c3d45c2","device":"7b877229.678964","method":"CREATE","path":"motion/axs/X/cmd/power","payloadFormat":"value_type","name":"\"X\" axis power on","x":670,"y":180,"wires":[[]]},{"id":"c5a9270cb463a8d2","type":"ui_button","z":"3da246ac7c3d45c2","name":"","group":"eb7620ae.6f5d","order":3,"width":"2","height":"1","passthru":false,"label":"Power \"Robot\"","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":240,"wires":[["29314076d3d35455"]]},{"id":"58781118832c7132","type":"inject","z":"3da246ac7c3d45c2","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":200,"wires":[["29314076d3d35455"]]},{"id":"ee268872d3015014","type":"ctrlx-datalayer-request","z":"3da246ac7c3d45c2","device":"7b877229.678964","method":"CREATE","path":"/motion/axs/Y/cmd/power","payloadFormat":"value_type","name":"\"Y\" axis power on","x":670,"y":240,"wires":[[]]},{"id":"9798b1e4bec2fd1c","type":"ctrlx-datalayer-request","z":"3da246ac7c3d45c2","device":"7b877229.678964","method":"CREATE","path":"/motion/axs/Z/cmd/power","payloadFormat":"value_type","name":"\"Z\" axis power on","x":670,"y":300,"wires":[[]]},{"id":"40052e720e131f4e","type":"comment","z":"3da246ac7c3d45c2","name":"Example: Power on axes","info":"","x":210,"y":160,"wires":[]},{"id":"7b877229.678964","type":"ctrlx-config","name":"localhost","hostname":"localhost","debug":false},{"id":"eb7620ae.6f5d","type":"ui_group","name":"Axes handling","tab":"9cba2148.8c9148","order":3,"disp":true,"width":"5","collapse":false},{"id":"9cba2148.8c9148","type":"ui_tab","name":"Examples","icon":"dashboard","order":7,"disabled":false,"hidden":false}]