examples/PLC - Monitor and handle a struct variable.json
[{"id":"6f5d6bbd194918ae","type":"ui_form","z":"38bcc9961503333d","name":"","label":"Input form","group":"938bb9af.bc8108","order":1,"width":0,"height":0,"options":[{"label":"bBool","value":"bBool","type":"checkbox","required":true,"rows":null},{"label":"iInt","value":"iInt","type":"number","required":true,"rows":null}],"formValue":{"bBool":false,"iInt":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":420,"y":580,"wires":[["1313c8d3ddaacf48"]]},{"id":"efa71414.90e038","type":"comment","z":"38bcc9961503333d","name":"Example: Monitor and handle a struct PLC variable \"strStruct\"","info":"","x":380,"y":540,"wires":[]},{"id":"1313c8d3ddaacf48","type":"function","z":"38bcc9961503333d","name":"make value","func":"var newMsg = {}\nnewMsg.payload = { \"type\": \"object\", \"value\": {\n    \"bBool\": msg.payload.bBool,\n    \"iInt\": msg.payload.iInt} }\nreturn newMsg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":580,"wires":[["52f3b28.7154acc"]]},{"id":"88e501beb3dd7132","type":"ctrlx-datalayer-subscribe","z":"38bcc9961503333d","subscription":"632bcc2.eddf134","path":"plc/app/Application/sym/GVL/strStruct","name":"Read \"strStruct\"","inputs":0,"x":240,"y":580,"wires":[["6f5d6bbd194918ae"]]},{"id":"52f3b28.7154acc","type":"ctrlx-datalayer-request","z":"38bcc9961503333d","device":"7b877229.678964","method":"WRITE","path":"plc/app/Application/sym/GVL/strStruct","payloadFormat":"value_type","name":"Write \"strStruct\"","pendingWarnLevel":"","pendingErrorLevel":"","x":780,"y":580,"wires":[[]]},{"id":"938bb9af.bc8108","type":"ui_group","name":"PLC Variable handling","tab":"9cba2148.8c9148","order":1,"disp":true,"width":"4","collapse":false},{"id":"632bcc2.eddf134","type":"ctrlx-config-subscription","device":"7b877229.678964","name":"Sub_Default","publishIntervalMs":"1","publishIntervalUnits":"seconds","samplingInterval":"100","samplingIntervalUnits":"milliseconds","errorInterval":"60","errorIntervalUnits":"seconds","keepaliveInterval":"60","keepaliveIntervalUnits":"seconds","queueSize":"1","queueBehaviour":"DiscardOldest","deadbandValue":""},{"id":"7b877229.678964","type":"ctrlx-config","name":"localhost","hostname":"localhost","debug":false},{"id":"9cba2148.8c9148","type":"ui_tab","name":"Examples","icon":"dashboard","order":7,"disabled":false,"hidden":false}]